<form role="form" ng-submit="submitInfo()" ng-controller="ResumeDisplayController">
    <div class="form-group row">
        <label for="Name">Name</label>
        <input type="text" class="form-control" ng-model="name" id="name" placeholder=" Name">
    </div>
    <div class="form-group row">
        <label for="email"> Email</label>
        <input type="email" class="form-control" ng-model="email" id="email" placeholder=" jane.doe@example.com">
    </div>
    <div class="form-group row">
        <input type="submit" class="btn btn-primary" value="Submit"/>
    </div>
</form>

